<div class='article_wrapper'>
    <h3><%= data.title %></h3>
    <h2>概要</h2>
    <p>あああああいいいうううえええおおお</p>
    <div class='margin_bottom_50px'></div>
    <h2>9つの特徴</h2>
    <p> ・ 信頼性の高いEthereum(ブロックチェーン)を利用</p>
    <p> ・ アーティストや教師に数百万人が参加するひとつの仮想世界</p>
    <p> ・ 映像や3Dアセットを仮想世界でのコンテンツとして価値化</p>
    <p> ・ 多種多様なカテゴライズによる</p>
    <p> ・ 仮想世界でのコンテンツの競合のないユニークなマーケット</p>
    <p> ・ VIBEトークンで教育やゲーム等多くの領域をワンプラットフォーム化</p>
    <p> ・ 全てのコンテンツを保存し、コンテンツのコラボレーションが生まれやすい環境</p>
    <p> ・ 監視によるサービスの安心・安全化</p>
    <p> ・ ブロックチェーンとオフチェーンを利用した中間搾取・手数料のない経済</p>
    <p> ・ ユーザー同士でクリエイティビティを的確に表現し、共有できる仮想世界</p>
    <div class='margin_bottom_50px'></div>
</div>