<div class='article_wrapper'>
    <h3><%= article.title %></h3>
    
    <h2>概要</h2>
    <p>ブロックチェーンを利用したVR・ARコンテンツの市場プラットフォーム</p>
    <p>
        アーティストや教師はVIBEプラットフォーム上にVRコンテンツ(ライブ、授業)を配信し、VIBEトークンで収益を得ることができるようになります。
        中間搾取なしかつトラストレスに収益を得られるので、事務所から中間搾取を受けることがなく、アーティストにとって願ってもない仕組みです。
        まだVR市場が固まってない段階でのプロジェクトなので、期待できそう。
    </p>
    <div class='margin_bottom_100px'></div>
    
    <h2>VIBE利用方法</h2>
    <p>
        VIBEトークンをプラットフォームに預け、オフチェーンでVRコンテンツの売買を行うようです。
        コンサートや授業、クリエーター向けにVRのアセット(VRコンテンツ作成用素材集てきなもの)を買うことができます。
        プラットフォームが普及すれば、好きなアーティストのライブを家で体感できるのも近い将来ありあえるかも。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_60per' src='../images/vibe/howto.png' alt='VIBE利用方法'>
    <div class='margin_bottom_100px'></div>
    <p>
        VIBEHubラボなるところでどうやらVRコンテンツは取れるみたいだ・・・。
        まぁ、ここんところは施設が増えていってどこでも簡単に取れるようになる必要がありそう。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_60per' src='../images/vibe/capture.png' alt='VIBEコンテンツ取得'>
    <div class='margin_bottom_100px'></div>
    <p>
        ファンはプラットフォーム上でVRコンテンツを見て楽しむことができる。
        まぁ、そりゃ〜そうだろう。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_60per' src='../images/vibe/enjoy.png' alt='VIBEコンテンツ楽しむ'>
    <div class='margin_bottom_100px'></div>
    
    <h2>ハードウェアとソフトウェアのパートナー</h2>
    <p>
        自分はエンジニアだからわかるが、すごいとしか言いようがない。
        ただ気おつけて欲しいのはハードウェアとソフトウェアのパートナーであって業務提携とかそういうパートナーではない。
        AWSとかは申請すれば取れたりするし、、、
    </p>
    <p>
        余談ですが、ハードウェアのOcurasやGearVRは値段的に割と手が出せます。
        Hololensははんぱないんですよ、安いので50万越えてたと思う。
        商用だと100万ぐらいするんじゃなかったかな。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_60per' src='../images/vibe/partner.png' alt='パートナー'>
    <div class='margin_bottom_100px'></div>
    
    <h2>ロードマップ</h2>
    <p>
        ロードマップによると、これから(2018年Q1〜)オフチェーンの取引部分を作り、VIBEトークンを預けられるようにする。
        ベータ版としてマーケットをテストし、2018年4Qから本番リリースという感じかな。
        ということは来年(2019年)から盛り上がってくるんじゃないでしょうか。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_60per' src='../images/vibe/loadmap.png' alt='ロードマップ'>
    <div class='margin_bottom_100px'></div>

    <h2>買える取引所</h2>
    <a href='https://www.binance.com/?ref=12975705'>
        <image class='exchange' src='../images/exchange/binance.png' alt='binance'>
    </a>
    <div class='margin_bottom_25px'></div>
    <a href='https://hitbtc.com/?ref_id=5a843b7b40bdc'>
        <image class='exchange' src='../images/exchange/hitbtc.png' alt='hitbtc'>
    </a>
    <div class='margin_bottom_25px'></div>
    <a href='https://etherdelta.com/#VIBE-ETH'>
        <image class='exchange' src='../images/exchange/etherdelta.png' alt='etherdelta'>
    </a>
    <div class='margin_bottom_100px'></div>
</div>