<div class='article_wrapper'>
    <h3><%= article.title %></h3>
    
    <h2>概要</h2>
    <p>
        MANAとは"Decentraland"という仮想世界で通貨として利用できるトークンです。<br>
        "Decentraland"はVR技術を利用した、現実世界と変わらない仮想世界です。<br>
        MANAを消費することで、"Decentraland"の土地やアバターを買ったり、仮想世界旅行を体験したりできます。<br>
        公式の動画を見ていただくと、どんなものかわかると思います。
    </p>

    <div class='margin_bottom_50px'></div>
    <div class="movieWraper">
        <div class="iframeWrap">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-HmXrOTEmxg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class='margin_bottom_100px'></div>

    <h2>流れ</h2>
    <p>1. MANAの目指すところ</p>
    <p>2. ロードマップ</p>
    <p>3. アーキテクチャ</p>
    <p>4. 問題点</p>
    <p>5. Decentralandの現状</p>
    <p>6. まろーんの考え</p>
    <div class='margin_bottom_50px'></div>

    <p>という感じで説明していきます！</p>
    <p>※ Decentralandの現状は近日更新予定・・・</p>
    <div class='margin_bottom_100px'></div>
    
    <h2>1. MANAの目指すところ</h2>
    <p>
        "Decentraland"は現実と同じように様々なビジネスを展開できるような世界を目指しています。</br>
        MANAを消費し、"Decentraland"の土地を買い、ゲームセンターやカジノを開いたり、授業を開講したりすることで収益を得られるような世界です。</br>
        授業料としてユーザーからMANAを集めて、そのMANAでクリエーターからアバター(服)を買ったりしてもいい。
    </p>
    <p>
        MANAを消費する取引はスマートコントラクトにて管理されるのでユーザーは安心、安全に"Decentraland"を楽しむことができます。<br>
        スマートコントラクトを使うことで間に第３者機関を通す必要がないため、トラストレスに安い手数料で取引可能です。<br>
        クリエーターやビジネスを展開する人にとって利益を生み出しやすい世界になるでしょう。
    </p>
    <p>
        "Decentraland"でも現実と同じような大都市が生まれると考えられており、土地のレートは通常1000MANAで1LAND(仮想世界の土地単位)ですが、今後ユーザー同士の取引で変動していくと予想されます。<br>
        今は1000MANAだった土地が10倍、100倍になる可能性があるとすると夢がありますね。
    </p>
    <p>
        "Decentraland"はまだ開発途中なので、動画のような世界になるのは数年先です。<br>
        現状は"Decentraland"に3Dオブジェクトを置く、アバター等のコンテンツの売買が可能のようです。
    </p>
    <p>
        このようなセカンドワールド的な仮想世界"Decentraland"を作り、MANAを通貨として流通させることを目指しています。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/mana/overview_image.png' alt='MANAの目指す世界'>
    <div class='margin_bottom_100px'></div>
   
    <h2>2. ロードマップ</h2>
    <p>
        MANAのロードマップは各期間ごとに時代名があり面白いです。
    </p>
    <div class='margin_bottom_50px'></div>
    
    <h1>石器時代(Stone Age)</h1>
    <p>
        まずはじめは、実験として2Dの世界をつくる。<br>
        各土地はグリッド線で分割され、PoWアルゴリズムで土地の所有権を得られるようにする。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/mana/stone_age.png' alt='石器時代の仮想世界'>
    <div class='margin_bottom_100px'></div>

    <h1>青銅器時(Bronze Age)</h1>
    <p>
        2Dだった世界を3Dの世界にする。<br>
        ホワイトペーパーでは土地所有者は土地にオブジェクトを置いたり、すきなように使うことができる。<br>
        なのですが、土地にオブジェクトを置いたりできるのは次の時代へ先送りのようです。<br>
        ユーザーは3D世界を探検できます。
    </p>
    <p>
        やっと、この時代から仮想世界感がでてきます。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/mana/bronze_age.png' alt='青銅器時代の仮想世界'>
    <div class='margin_bottom_100px'></div>

    <h1>鉄器時代(Iron Age)</h1>
    <p>
        まず先送りにされた、土地にオブジェクトを置いたりできるようになる機能追加。<br>
        アプリを作り、他のユーザーに提供することで収益を得られる経済を作る。<br>
        アプリは仮想世界で体験できるゲームやプラネタリウム等のようなものです。<br>
        アバターを変えることもできるようになります。<br>
        アバタの服とかだけでなく、声動きも。
    </p>
    <p>
        現在、beta版として鉄器時代をローンチしているみたいです。
    </p>
    <div class='margin_bottom_100px'></div>

    <h1>シリコン時代(Silicon Age)</h1>
    <p>
        物理現象を起こせるようにするらしいです。<br>
        物にぶつかったら、はねたりより現実らしくなります。<br>
        動画のような世界が広がるのでしょう。
    </p>

    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/mana/silicon_age.png' alt='シリコン時代の仮想世界'>
    <p>※ 動画から抜粋</p>
    <div class='margin_bottom_100px'></div>
    
    <h2>3. アーキテクチャ</h2>
    <p>
        "Decentraland"は3層構造になっています。<br>
        コンセンサス層<br>
        ランドコンテンツ層<br>
        リアルタイム層
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/mana/architecture.png' alt='MANAのアーキテクチャ'>
    <div class='margin_bottom_100px'></div>

    <h1>コンセンサス層</h1>
    <p>
        スマートコントラクトを使って分散台帳に土地の所有権を管理します。<br>
        MANAを消費して、土地の所有権を得られるようになっています。<br>
        土地は座標、所有者、土地の設定ファイルが記録されています。
    </p>
    <div class='margin_bottom_50px'></div>
    
    <h1>ランドコンテンツ層</h1>
    <p>
        土地の設定ファイルは所有者であればダウンロードすることができます。<br>
        土地の設定ファイルにプログラムをかくことで、土地にオブジェクトを置いたり、置いたオブジェクトを自動で動かしたりできます。
    </p>
    <div class='margin_bottom_50px'></div>
    
    <h1>リアルタイム層</h1>
    <p>
        P2P通信によって、"Decentraland"がリアルタイムで映写できるようになっています。<br>
        また、ユーザーはボイスチャット機能等を開発でき、"Decentraland"に貢献した人は報酬をもらえます。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>4. 問題点</h2>
    <p>
        "Decentraland"の経済を活発にするために、取引手数料を安く、早く処理できる決済システムが必要である。<br>
        どう実現するのか？
    </p>
    <p>
        ライトニングネットワークのようなハブアンドスポーク型のシステムで近日解決するらしい。
    </p>
    <div class='margin_bottom_50px'></div>
    
    <p>
        現状、土地設定ファイルやアプリが保存されている peer to peer ストレージからダウンロードする速度が遅すぎる。<br>
        どのようにして早く、そしてセキュアにダウンロードできるようにするのか？
    </p>
    <p>
        こちらは解決方法は見つかっていないと思われます。<br>
        解決策を探しながら、"Decentraland"の開発を行うのでしょう。
    </p>
    <div class='margin_bottom_50px'></div>
    
    <p>
        ポルノやギャンブル、暴力的なコンテンツのフィルタリングは peer to peer 型プラットフォームにおいて難しい。<br>
        どのようにしてフィルタリングをどうようにして可能にするのか？
    </p>
    <p>
        コンテンツをホワイトリスト、ブラックリストか判断してまとめて配信してくれるユーザーが生まれる事を期待するらしいです。
    </p>

    <div class='margin_bottom_100px'></div>

    <h2>5. Decentralandの現状</h2>
    <p>※ 近日更新により追加予定・・・</p>
    <div class='margin_bottom_100px'></div>

    <h2>6. まろーんの考え</h2>
    <p>
        まだピンとこない人が多いかもしれないが、エンタメとしてのVRではなく生活の一部としてVRは今後浸透していくと思う。<br>
        スマホが生まれたことで、簡単に2Dを共有できるようになった。<br>
        インスタグラムやTwitterに夢中になる人が多いようにデジタル世界の2Dは完全に生活の一部となっている。<br>
        次は3Dの共有が簡単にできるようになろうとしている。<br>
        もし3Dの共有が生活に浸透したとするとどういうことが起こるだろうか?<br>
        朝、満員電車で通勤していた生活が、VR世界のオフィスへ出勤するような生活をおくる人が出てきたり、場所代がほぼかからないことから副業でVR世界で授業を行う人が出てくるかもしれない。<br>
        今は違和感に感じるかもしれないが、人間はなれるものである。<br>
        2Dの共有が生活の一部になったように、3Dの共有もいつか生活の一部となるだろう。<br>
        そこにブロックチェーンによる peer to peer で信用もデジタルに落としこむことできる<br>
        もし、"Decentraland"が実現し、ユーザーが増えればMANAの価値は計り知れないものになるかもね 笑
    </p>
    <div class='margin_bottom_100px'></div>

    <p>
        技術面を中心の仮想通貨、ブロックチェーンの仕組みをまとめていく予定です。</br>
        良ければ、twitterフォロー宜しくお願いします。</br>
    </p>

    <p>
        <a href="https://twitter.com/intent/follow?screen_name=maronBlockchain">
            Follow @maronBlockchain
        </a>
    </p>
    <div class='margin_bottom_100px'></div>
    
</div>