<div class='article_wrapper'>
    <h3><%= article.title %></h3>

    <p>掲載日: 2018/3/5</p>
    <p>最終更新日: 2018/3/25</p>
    <div class='margin_bottom_50px'></div>
    
    <h2>概要</h2>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/vibe/vibe.jpeg' alt='VIBE'>
    <div class='margin_bottom_50px'></div>

    <p>
        VIBEは"VIBEHub"という分散型プラットフォームで使用できる通貨(トークン)です。
        "VIBEHub"ではHubというものを通じて、様々なVRコンテンツを楽しむことができます。
        ミュージシャンのコンサートを体験できるHubや、ヨガの授業を受けられるHub等様々なHubが存在します。
        ユーザーはVIBEを払うことでミュージシャンHubでコンサートを体感し、ミュージシャンはVIBEをもらえる仕組みです。
    <p>
        動画はミュージシャンのVIBEHubでのコンサート映像のようです。
    </p>

    <div class='margin_bottom_50px'></div>
    <div class="movieWraper">
        <div class="iframeWrap">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/12g9lu0uZ5I" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class='margin_bottom_100px'></div>

    <h2>流れ</h2>
    <p>1. VR市場</p>
    <p>2. VIBEHubについて</p>
    <p>3. ロードマップ</p>
    <p>4. テクノロジー</p>
    <p>5. ICO調達資金の使い方</p>
    <p>6. 考察</p>
    <p>7. 参考</p>
    <div class='margin_bottom_50px'></div>

    <p>という感じで説明していきます！</p>
    <div class='margin_bottom_100px'></div>
    
    <h2>1. VR市場</h2>
    <p>
        まずVIBEについて話を進めていく前に、VR市場について説明します。
        現在、VRのグラフィック処理が早くなり高画質な映写が可能になってきたため、VR技術は実用的なものになってきています。
        400ドル〜700ドルで、VRを体験できるデバイス(ヘッドマウンドデバイス)も買えるような状況です。
        MicrosoftやIBM、Apple、Facebook等の巨大な企業は数千万ドルもVR技術の研究に投資しています。
        また、アナリストは2020年にはVR市場は16２千万ドルになると予想しています。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/vibe/oculus-rift.jpg' alt='oculas rift'>
    <div class='margin_bottom_100px'></div>
   
    <h2>2. VIBEHubについて</h2>
    <p>
        "VIBEHub"ではHubというものを通じて、様々なVRコンテンツを楽しむことができます。
        Hubを通じで、ミュージシャンはコンサート体験をファンに届けたり、インストラクターは知識を生徒に届けたりできます。
        また、ユーザー同士で映画をみるバーチャルデートができるHubも存在します。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/vibe/hubs.png' alt='VIBEHubのHub'>
    <div class='margin_bottom_50px'></div>

    <h1>Hubのコンテンツ</h1>
    <p>
        アーティストはホログラムを VIBEHub Lab で撮ります。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/vibe/capture.png' alt='ミュージシャンのキャプチャ'>
    <div class='margin_bottom_50px'></div>
    <p>
        アーティストのホログラムを利用して、様々なステージでコンサートしているように見せることができるようになります。
        砂漠で歌っていたり、空中に浮いて歌っていたり、サイズを小さくしてテーブルの上で歌っているなど様々なバリエーションのVRを体験できます。
        また、ユーザー一人に対して、アーティスト一人という 1 to 1 な体験ができます。
        現実世界ではできないことです。
    </p>
    <p>
        アーティストはHubが配信しているコンテンツの収益の99%を受け取ることができます。
        1%はVIBEHubの手数料として取られるようです。
    </p>
    <p>※ はじめは手数料0で行い、時期をみて上の仕組みに切り替えるらしい。</p>
    <div class='margin_bottom_50px'></div>

    <h1>ユーザーの部屋</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/vibe/home.png' alt='ユーザーの部屋'>
    <div class='margin_bottom_50px'></div>
    <p>
        "VIBEHub"のユーザーは部屋をもらいます。
        部屋はもちろんVRです。
        ソファーや、テレビ、飾り等様々なVRオブジェクトを自由に配置できます。
        VRオブジェクトはもちろん買わないと利用できません。
        そして、部屋に友達を呼び一緒にゲームをしたりできます。
    </p>
    <p>
        ユーザーはVRオブジェクトを作った人にVIBEを払うことで、VRオブジェクトを利用できるようになります。
        手数料があるかどうかはわかりません。
    </p>
    <div class='margin_bottom_50px'></div>

    <h1>広告</h1>
    <p>
        VIBEHubでの広告は嫌気がさすような出し方はしません。
        これまでの広告はポップアップが多くすごく嫌気のサすものでした。
        飛行船に広告を貼り、空へ飛ばすことで宣伝を行います。
        これにより、ユーザーに目立つことなく宣伝を行うことが可能です。
    </p>
    <div class='margin_bottom_50px'></div>

    <h1>パートナーシップ企業のコンテンツ</h1>
    <p>
        "VIBEHub"にはパートナー企業が存在します。
        パートナー企業はすでにVRコンテンツを作成しており、そこから得られる収入からプラットフォーム使用料を徴収しています。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>3. ロードマップ</h2>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/vibe/loadmap.png' alt='ロードマップ'>
    <div class='margin_bottom_50px'></div>
    <p>
        2017の2Q〜3QでVIBEトークンのセールを実施、VIBEトークンのセール実施後取引所上場。
    </p>
    <p>
        2018年の1Q〜2Qに"VIBEHub"で多くのVRライブをVIBEトークンを利用して実施。
        2018年の3Qに"VIBEHub"でARコンテンツのテストアプリを検証。
        2018年の4Qにすべてのハードウェアのプラットフォームで利用できる"VIBEHub"をリリース。
    </p>
    <p>
        ロードマップによると、2018年4Qから本番リリースという感じなので、2019年あたりから盛り上がってくるんじゃないでしょうか。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>4. テクノロジー</h2>
    <h1>プラットフォーム</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/vibe/partner.png' alt='VIBEHubのパートナー'>
    <div class='margin_bottom_50px'></div>
    <p>
       "VIBEHub"は、Oculus RiftやHTC ViveやPlayStation VRなど大きくシェアととっているものに対応したクロスプラットフォームになります。 
       現在は、Oculus Riftのプラットフォームをbeta版として公開しているようです。
       Web版のプラットフォームも存在し、こちらはChromeやInternet Exploreで見ることができます。
       <a href='https://vibehub.io/'>ホームページ</a>から各プラットフォームへのリンクがあります。
       プラットフォームでの映像はピアツーピア通信を利用することで、多くのユーザーが同時にコンテンツを体験できるようになっています。
    </p>
    <p>
        "VIBEHub"のパートナー企業を見る限り、有名所のヘッドマウントデバイス(VRを体験できる機器)、VR映像を作成するソフトウェアはだいたいは利用可能になるのではないでしょうか。
    </p>
    <p>※ クロスプラットフォームは、異なるプラットフォーム上で同じ仕様のコンテンツを再生できたり動かしたりできるソフトウェアです。</p>
    <div class='margin_bottom_50px'></div>

    <h1>ホログラム撮影技術</h1>
    <p>
        これまでのAR・VRコンテンツは360°動画を撮ることで作っていました。
        "VIBEHub"では更に拡張し、背景を除いたアーティストのホログラムを撮ることができます。
        そして、様々な背景と組み合わせてコンテンツを作成する、Mixed・Realityです。
        "VIBEHub"ではMicrosoft Researchのホロポーテーションのテクノロジーを統合しようとしています。
        MR(Mixed・Reality)は最新の技術のため、扱える会社はひと握りです。
    </p>

    <div class='margin_bottom_50px'></div>
    <div class="movieWraper">
        <div class="iframeWrap">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7d59O6cfaM0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class='margin_bottom_50px'></div>
    
    <p>
        ホロポーテーションの動画です。VRとは少し違うということをわかっていただけたらと思います。
    </p>
    <div class='margin_bottom_50px'></div>

    <h1>VIBE決済</h1>
    <p>
        VIBEトークンでの決済の仕組みとして、オフチェーンを取り入れようとしています。
        オフチェーンを取り入れることで、早くかつ低手数料の決済が可能となります。
        また、将来出くわすかもしれないスケーリング問題も解決できます。
    </p>
    <p>※ オフチェーンは、Ethereumブロックチェーン上で決済を記録するのではなく、ブロックチェーン外で記録する技術です。</p>
    <div class='margin_bottom_100px'></div>

    <h2>5. ICO調達資金の使い方</h2>
    <p>
        ICOにより調達した資金は50%を開発、30%をマーケティング、20%を協力してくれたアーティストへの報酬に使います。
    </p>

    <h1>開発費</h1>
    <p>
        プロジェクトを成功に導くにあたって、3Dモデラー、グラフィックアーティスト、プログラマーを雇わなければなりません。
        また、VR・AR撮影用のカメラやソフトウェア等の備品も必要です。
        50%は人材、備品に使われます。
    </p>
    <div class='margin_bottom_50px'></div>
    
    <h1>マーケティング費</h1>
    <p>
        "VIBEHub"は一般人に広く受け入れられる必要があり、マーケティングにより広める必要があります。
        そのため、マーケティングのスペシャリストを雇います。
        また、コンサートやフェスティバル等で積極的に宣伝していくための費用も含みます。
    </p>
    <div class='margin_bottom_50px'></div>

    <h1>アーティストへの報酬費</h1>
    <p>
        "VIBEHub"を広めるベストな方法として、有名なアーティストのコンテンツを作ることだと思っています。
        有名なアーティストのコンテンツを作ることで、メディアでアーティスト自身が宣伝するだろうし、ファンも"VIBEHub"を利用するようになるかもしれない。
        そのため、有名なアーティストに出演依頼として20%を報酬費として使います。
    </p>
    <div class='margin_bottom_50px'></div>

    <h2>6. 考察</h2>
    <p>
        ホロテレポーテーションを活用したVRコンテンツはミュージシャン、講師にとって革命的な配信手段になると思う。
        VIBEHub上で様々な授業や、ライブを配信して稼ぐことができるようになれば、
        youtubeやniconico動画等の動画共有プラットフォームで配信していく意味が薄れていくのではないだろうか？
        現状、youtube等のプラットフォームから収益を得るためにはかなりの努力が必要かつ手数料も高い。
        今後、2D動画ではなくVR動画が主流になっていく中でyoutubeにとって変わってVIBEHubが普及すれば面白いですね。
    </p>
    <div class='margin_bottom_100px'></div>
    
    <h2>7. 参考</h2>
    <p>
        ホームページ<br><a href='https://www.vibehub.io/'>https://www.vibehub.io/</a>
    </p>
    <p>
        ホワイトペーパー<br><a href='https://www.vibehub.io/VibeHubWhitepaper2017.pdf'>VIBEHub white paper</a>
    </p>
    <div class='margin_bottom_100px'></div>

    <p>
        技術面を中心の仮想通貨、ブロックチェーンの仕組みをまとめていく予定です。</br>
        良ければ、twitterフォロー宜しくお願いします。</br>
    </p>

    <p>
        <a href="https://twitter.com/maronBlockchain?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @maronBlockchain</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <div class='margin_bottom_100px'></div>
    
</div>