<div class='article_wrapper'>
    <h3><%= article.title %></h3>

    <p>掲載日: 2018/3/10</p>
    <!--<p>最終更新日: 2018/3/2</p>-->
    <div class='margin_bottom_50px'></div>
    
    <h2>概要</h2>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/分散型台帳のイメージ.png' alt='分散型台帳のイメージ'>
    <div class='margin_bottom_50px'></div>

    <p>
        ブロックチェーンは安心、安全にデータを管理する<span class='accent_font'>分散型台帳</span>を可能にする仕組みです。
        分散型台帳は、どこか1つの場所(データベース)に全てのデータを保存して管理するのではなく、複数の場所にデータを保存して管理します。
        分散してデータを保存しておくことで、データが消えてしまっても、他の場所からコピーすることで復元することができるので、1つの場所(データベース)に保存しておくより安全です。
        また、ブロックチェーンは一度書き込んだデータを書き換えることができません。
    </p>
    <p>
        仮想通貨ではブロックチェーンの仕組みを利用することで、<span class='accent_font'>安心、安全、トラストレス、低手数料</span>な取引を可能にしています。
    </p>
    <p>※ トラストレスとは、第３者として信頼のおける機関(銀行等)を挟まずに信頼のおける取引が可能という意味。</p>
    <p>今回はBitcoinのブロックチェーンをベースに解説させていただきます。</p>
    <p>
        この記事を読むことで、ブロックチェーンを軽く説明できる程度に理解できます。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>流れ</h2>
    <p>1. コインを所持するとは</p>
    <p>2. コインを送金する</p>
    <p>3. 送金の完了</p>
    <p>4. おまけ</p>
    <div class='margin_bottom_50px'></div>
    <p>
        今回のメインは「3. 送金の完了」です。ある程度知ってる方は1,2は読み飛ばしてください。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>1. コインを所持するとは</h2>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/コインの所持.png' alt='コインを所持しているイメージ'>
    <div class='margin_bottom_50px'></div>
    <p>
        仮想通貨のコイン(トークン)はアドレスに保存されています。
        アドレス1には100コイン、アドレス2には250コインというようなイメージです。
    </p>
    <p>
        私達がコイン(トークン)を100コイン所持しているということは、100コイン保存されているアドレスの鍵を持っているということになります。
        鍵を使うことで、鍵に対応したアドレスに保存されているコイン(トークン)を送金することができます。
        鍵を持っていないとアドレスに保存されているコイン(トークン)の総量を見ることはできますが、送金することはできません。
    </p>
    <p>
        つまり、佐藤さんはアドレス1のコイン(トークン)は送金できるが、アドレス2のコイン(トークン)は250コイン入っていることはわかるが、送金はできないということになります。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>2. コインの送金する</h2>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/コイン送金.png' alt='コイン送金'>
    <div class='margin_bottom_50px'></div>
    <p>佐藤さんは所持している500コインのうち200コインを田中さんに送金したいとします。</p>
    
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/トランザクション送信.png' alt='トランザクションの送信'>
    <div class='margin_bottom_50px'></div>
    <p>
        佐藤さんは田中さんが所持している鍵のアドレス2を教えてもらいます。
        佐藤さんはアドレス1からアドレス2へ200コイン送金するというトランザクションを作成します。
        <span class=='accent_font'>トランザクション</span>は<span class='accent_font'>送金履歴のデータ</span>です。
        作成したトランザクションをネットワークに送信します。
    </p>
    <p>
        ネットワークに送信されたトランザクションは誰でも閲覧することができます。
    </p>
    <p>
        佐藤さんがしなければならない作業はトランザクションを送信したことで終わりです。
        ただトランザクションは承認されないと送金完了とはなりません。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>3. 送金の完了</h2>
    <h1>マイナーの存在と送金完了</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/マイナー.png' alt='コイン(トークン)ネットワークに参加するマイナーたち'>
    <div class='margin_bottom_50px'></div>
    <p>
        送金を完了させるためには、コイン(トークン)のネットワークに接続しているマイナーがひと仕事しなければいけません。
        マイナーは送信されたトランザクションを集めてブロックにし、過去のブロックにつなげる作業をします。
        現在のブロックをつなげる作業が完了すれば、ブロックに含まれたトランザクションは承認されたということになり、コイン(トークン)の送金完了となります。
    </p>
    <p>
        ※厳密には送金の完了は、トランザクションを含んだブロックにさらに2つ程ブロックがつながったら完了です。
    </p>
    
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/マイナーの報酬.png' alt='報酬を受け取ったマイナー'>
    <div class='margin_bottom_50px'></div>
    <p>
        マイナーはなぜブロックをつなげる作業をするのでしょうか。その理由は報酬です。
        ブロックをつなげたマイナーには<span class='accent_font'>報酬としてコイン(トークン)</span>がもらえます。
        そのため、マイナーたちは日々ブロックをつなげるために競っています。
    </p>
    <div class='margin_bottom_100px'></div>

    <h1>ブロックの中身</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/ブロックの中身.png' alt='ブロックの中身'>
    <div class='margin_bottom_50px'></div>
    <p>
        ブロックは、大きく分けて<span class='accent_font'>「前のブロックのハッシュ」、「ノンス」、「トランザクションの集まり」</span>の構成になっています。
    </p>
    <p>「前のブロックのハッシュ」</p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/ハッシュ関数.png' alt='ハッシュ関数'>
    <div class='margin_bottom_50px'></div>
    <p>
        ハッシュ関数と呼ばれるものが存在します。ハッシュ関数は適当な文字を入れると、<span class='accent_font'>64文字の値</span>が出てくる関数です。
        ハッシュ関数は適当な文字から64文字の値を出すのは簡単ですが、逆は難しいです。
        「前のブロックのハッシュ」とは前のブロックのデータを文字にし、ハッシュ関数に入れて出てきた64文字の値です。
    </p>
    <p>
        ※ ハッシュ関数は、たくさんありますがここではbitcoinやbitcoin cashで利用されているsha256という関数で説明しています。
    </p>
    <div class='margin_bottom_50px'></div>

    <p>「ノンス」</p>
    <p>
        「ノンス」とはマイナーたちが競って探している値です。
        「前のブロックのハッシュ」、「ノンス」、「トランザクションの集まり」を足して文字にし、先ほど説明したハッシュ関数に通します。
        出てきたハッシュの先頭に"0"がたくさん出現した場合は、使用したノンスが「ノンス」です。
        出てきたハッシュの先頭に"0"がたくさん出現しなかった場合は、使用したノンスは「ノンス」ではありません。
    </p>
    <p>
        ※ ハッシュの先頭の"0"の個数はマイニング難易度として変化します。
        ビットコインでは10分ごとに新しいノンスが見つかるよう難易度を調整しています。
    </p>
    <div class='margin_bottom_50px'></div>

    <p>「トランザクションの集まり」</p>
    <p>
        トランザクションは私たちがコインを送金するときに送信した送金履歴のデータです。
        送金履歴のデータを集めたものが「トランザクションの集まり」です。
    </p>
    <div class='margin_bottom_50px'></div>

    <p>各ブロックが前のブロックとつながるようデータを保存していく仕組みがチェーンみたいだとおもいませんか？</p>
    <p>これがブロックチェーンと言われる所以です。</p>
    <div class='margin_bottom_50px'></div>

    <h1>ブロックをつなげる(マイニング)</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/マイニング勝ち負け.png' alt='マイニングの一人勝ち'>
    <div class='margin_bottom_50px'></div>
    <p>
        マイナーたちはブロックをつなげるために「ノンス」を探します。
        「ノンス」を見つける作業が採掘に似ていることから、マイニングと言われています。
        ハッシュ関数は適当な文字から64文字の値を出すのは簡単ですが、逆は難しいでしたね。
        そのため、ハッシュの先頭に"0"がたくさん出現するまで地道に適当なノンスを入れて調べていくしか方法はありません。
        「ノンス」を見つけたマイナーはブロックをつなげて報酬としてコイン(トークン)を得られます。
        報酬のコイン(トークン)はマイナーが事前に登録しておいたアドレス宛てに付与されます。
    </p>
    <p>
        これがコインの送金が完了するまでの流れです。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>4. おまけ</h2>
    <p>ここはもう少し深く知りたい人向けです。</p>
    <p>ブロックチェーンの分岐、51%攻撃について軽く説明します。</p>
    <div class='margin_bottom_50px'></div>

    <h1>ブロックチェーンの分岐</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/ブロックの分岐.png' alt='ブロックチェーンの分岐'>
    <div class='margin_bottom_50px'></div>
    <p>
        ブロックチェーンの分岐が起きる要因は大きく2つあります。
        マイニングにおいて、複数のマイナーがほぼ同時にノンスを見つけた時、悪意のあるマイナーが過去のブロックから無理やり分岐させた時です。
        ブロックチェーンの分岐が起きた時、マイナーはどのチェーンでマイニングをするか選びます。
        時間が経つと、分岐したチェーンの長さに違いが生まれます。
        長いほうが本物のチェーンであるというルールがあるので、長い方のチェーンが本物となります。
        その時、短い方のチェーンのブロックチェーンは無効となるので、短い方でマイニングして成功していた人は報酬を得られなかったことになります。
    </p>
    <p>
        基本的に短いチェーンより長いチェーンのほうがマイナーの数は多いはずなので多数決的な決定方法になっています。
    </p>
    <p>
        このように多数決的に長い方のチェーンが本物のチェーンとして選ばれるので、改ざんしたくてもすぐに短いチェーンとして消えてしまいます。
    </p>
    <div class='margin_bottom_50px'></div>

    <h1>51%攻撃</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/悪意のあるマイナー.png' alt='悪意のあるマイナー'>
    <div class='margin_bottom_50px'></div>
    <p>
        上で説明したように、データの改ざんが容易ではないのがわかったと思います。
        しかし、高性能なマシーン(ノンスを見つける計算がものすごく早い)をたくさん用意し、毎回51%以上の確率でマイニング成功できるようになったとします。
        そうなると、過去のブロックをわざと分岐させて短いチェーンをマイニングし続けることで、長かったメインチェーンよりも長くすることができます。
        これが51%攻撃と言われるブロックチェーンの脆弱性です。
    </p>
    <p>
        実際は51%以上の確率でマイニングを成功できるような状況を作ることはほぼ不可能です。
    </p>
    <div class='margin_bottom_50px'></div>

    <h1>51%攻撃の解決策</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/blockchain/PoS.png' alt='PoSアルゴリズム'>
    <div class='margin_bottom_50px'></div>
    <p>
        51%攻撃を防ぐために生まれたアルゴリズム(ブロックをつなげる仕組み)があります。それが有名な<span class='accent_font'>PoS</span>です。
        これまで説明してきたブロックチェーンで利用しているアルゴリズム(ブロックをつなげる仕組み)は<span class='accent_font'>PoW</span>と言われています。
    </p>
    <p>
        PoWではノンスを見つける計算をたくさんできる人が有利でした。
        PoSではノンスを見つける計算がたくさんできるかつ、たくさんコイン(トークン)を保有している人が有利になる仕組みです。
        コイン(トークン)を持っているほど、マイニング難易度(求めるハッシュの先頭の"0"の個数が多いほうが難しい)が下がるようになっています。
    </p>
    <p>
        ただ、PoSを採用しても、コインを半分以上持っていればPoWと同じような問題がおきます。
        そのため、完全に解決できるとは言えません。
    </p>
    <div class='margin_bottom_100px'></div>

    <p>
        技術面を中心の仮想通貨、ブロックチェーンの仕組みをまとめていく予定です。</br>
        良ければ、<span class='accent_font'>twitterフォロー</span>宜しくお願いします。</br>
    </p>

    <p>
        <a href="https://twitter.com/maronBlockchain?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @maronBlockchain</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <div class='margin_bottom_100px'></div>
</div>