<div class='article_wrapper'>
    <h3><%= article.title %></h3>

    <p>掲載日: 2018/3/20</p>
    <!--<p>最終更新日: 2018/3/2</p>-->
    <div class='margin_bottom_50px'></div>
    
    <h2>イントロ</h2>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/neo_funding/top.png' alt='ICOとICOプラットフォームとDAICO'>
    <div class='margin_bottom_50px'></div>
    <p>
        ICO(Initial Coin Offering)は、仮想通貨を利用した新しい資金調達方法です。
        資金調達したい人は独自コイン(トークン)を発行します。
        投資家がBitcoinやEthereum等の仮想通貨を独自コイン(トークン)と交換することで資金調達したい人は資金を調達できます。
    </p>
    <p>
        投資家はICOに参加することで、独自コイン(トークン)の価格が跳ね上がり原資の数倍の利益を簡単に得られる状況が多く目立ち、話題になりました。
        そのような状況を利用し、悪い人が資金を集めて逃げる詐欺が増えたり、
        プロジェクトにたいして適正とは思えない額の資金を調達していたり、様々な問題が発生しています。
        この問題を解決するかのごとく、様々な案やプロジェクトが今進行しています。
        今回はこれまでの資金調達方法とICOの違いを説明し、
        次世代のICOの姿である、DAICOとICOプラットフォームについて解説します。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>流れ</h2>
    <p>1. これまでの資金調達方法</p>
    <p>2. ICOの概要</p>
    <p>3. 次世代のICOの姿</p>
    <p class='sub_flow'>- ICOプラットフォーム</p>
    <p class='sub_flow'>- DAICO</p>
    <div class='margin_bottom_50px'></div>

    <p>という感じで説明していきます！</p>
    <div class='margin_bottom_100px'></div>

    <h2>1. これまでの資金調達方法</h2>
    <h1>金融機関からの融資</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/neo_funding/銀行融資.png' alt='銀行からの融資'>
    <div class='margin_bottom_50px'></div>
    <p>
       一般的な資金調達方法です。
       銀行や信用金庫から借金をし、返済していくことになります。
       融資はプロジェクトや会社立ち上げ段階では信用がないためなかなか受けられなかったり、
       事業内容や営業方針の詳細をまとめた資料をたくさん作成しなければいけなかったり、
       資本を受け取るためのプロセスが長かったり、
       金利負担が発生したり正直多くの弊害がつきまといます。 
    </p>
    <div class='margin_bottom_100px'></div>
    
    <h1>新規公開株 - IPO(Initial Public Offering)</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/neo_funding/IPO.png' alt='IPO'>
    <div class='margin_bottom_50px'></div>
    <p>
        未上場会社の株式を証券取引所に上場させ、自由に売買できるようにすることです。
        証券会社の審査に合格しないと証券取引所に上場できないため、ある程度売上や利益等基準を超えていないとできません。
        資金調達以外にも証券会社の審査に合格したことで会社としての信用度をあげられたり、会社の知名度をあげられたり等メリットがあります。
        投資家は株を所持することで、配当をもらえたり、経営方針の議決権が与えられたりします。
        そのため、ある意味身を削っているようにも見えるかもしれません。
    </p>
    <div class='margin_bottom_100px'></div>

    <h1>クラウドファンディング</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/neo_funding/クラウドファンディング.png' alt='クラウドファンディングのよくあるパターン'>
    <div class='margin_bottom_50px'></div>
    <p>
        クラウドファンディングは投資家に対して商品購入権や株式保有権等、
        何をリターンさせるか、それともリターンさせないのかルールを設定し、インターネットを利用して資金を調達します。
        クラウドファンディングには投資型と非投資型があり、投資型だと金融庁や財務局の管轄のもと行わなくてはならないので非投資型が多いです。
        もっともメジャーなクラウドファンディングのパターンは、資金調達者は目標金額を設定します。
        投資家から調達した資金が目標金額に達しなかった場合は返却、達した場合は投資家に商品をリターンするという流れが多いです。
        現状、クラウドファンディング用のプラットフォームサイトが多数存在しているので、簡単に行うことができます。
        今流行りの資金調達方法であると言っていいと思います。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>2. ICOの概要</h2>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/neo_funding/ICO.png' alt='ICO'>
    <div class='margin_bottom_50px'></div>
    <p>
        ICOは円やドル等の法定通貨ではなく仮想通貨で資金を調達する方法です。
        ICOはよくEthereum等のスマートコントラクトを搭載したブロックチェーンを利用して行われます。
        スマートコントラクトとは、ブロックチェーン上にルールを記載することができる仕組みです。
        ルールは自分で決められ、決めたら変えることはできません。
        スマートコントラクトで仮想通貨を送金した人はトークンを受け取れるようにルールを設定します。
        ルールは変えられないので、投資家は安心して投資できます。
        投資家はスマートコントラクトに仮想通貨を送金し、調達者はスマートコントラクトから仮想通貨を受け取ります。
        図はスマートコントラクトを利用したICOのイメージです。
    </p>
    <p class='comment_font'>
        ※ ブロックチェーンやスマートコントラクトを利用しない資金調達も存在します。
    </p>
    <div class='margin_bottom_50px'></div>
    <p>
        融資とは違い信用もいらないし、提出しなければいけない書類もありません。
        新規公開株(IPO)のように、審査に合格する必要もなく、取引所も間に入らないので手数料もほぼかかりません。
        IPOに似ているという意見もありますが、どちらかというと投資型クラウドファンディングに似ていると思います。
        またICOの面白い部分は、資金調達と同時に顧客も獲得できる点です。
        調達者は基本的に、
        配布したトークンを使用したサービスやプラットフォームを開発することになるので、
        トークン保有者である投資家はすでにサービスを利用する顧客になるということです。
    </p>
    <p>ICOの仕組みについて詳しくは<a href='/tech/1'>Ethereum ICO の仕組み</a>をご覧ください。</p>
    <div class='margin_bottom_100px'></div>
    <h1>ポイント</h1>
    <p>
        基本的にスマートコントラクトを利用していると考えると、
    </p>
    <div class='margin_bottom_50px'></div>
    <p>
        円やドル等の法定通貨ではなく仮想通貨で資金調達を行う。
    </p>
    <p>
        必要な書類や審査がないため、テンポよく資金調達を行える。
    </p>
    <p>
        スマートコントラクトを利用しているので、取引所等が間に入る必要がなく、手数料がほぼかからない。
    </p>
    <p>
        スマートコントラクトを利用しているので、調達者はトークンをあげない等不正できない。
    </p>
    <div class='margin_bottom_100px'></div>

    <h1>問題点</h1>
    <p>融資や新規公開株(IPO)のようなプロセスを必要とせず、中間に入る機関がないため手数料が安い等、聞こえがものすごくいいICOですが、もちろんデメリットも存在します。</p>
    <div class='margin_bottom_50px'></div>
    <p>必要な書類、審査、間に入る取引所がないためプロジェクト自体に信頼はない。</p>
    <p>送金処理などブロックチェーン特有の操作を知らないひとはICOに参加するハードルが高い。</p>
    <p>投資家が経営方針に影響を与える術がないため、資金の使いみちは調達者の中央集権的な状況になってしまう。</p>
    <div class='margin_bottom_50px'></div>
    
    <p>
        このような問題点が存在しているため、プロジェクト自体が詐欺だったというようなことも多数存在しています。
    </p>
    <div class='margin_bottom_100px'></div>

    <h2>3. 次世代のICOの姿</h2>
    <p>現状のICOの問題を解決するために、様々な案やプロジェクトが進行しています。</p>
    <div class='margin_bottom_50px'></div>

    <h1>ICOプラットフォーム</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/neo_funding/icoプラットフォーム.png' alt='ICOプラットフォームのcomsaとstellar lumens'>
    <div class='margin_bottom_50px'></div>
    <p>
        "comsa"や"stellar lumens"というICOプラットフォームを聞いたことある人も多いのではないでしょうか。
        ICOプラットフォームはICOをより最適に行えるよう設計されたプラットフォームを目指します。
        手数料や処理能力等の機能面を向上させる方向性でのICOプラットフォームが"stellar lumens"で、
        安全安全かつICOまでの流れがスムーズに進められるようサポート面を向上させる方向性でのICOプラットフォームが"comsa"です。
        ここで言いたいのは、サポート面向上においてのICOプラットフォームについてなので、"comsa"よりで話を進めさせていただきます。
    </p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per' src='../images/neo_funding/icoプラットフォーム2.png' alt='ICOプラットフォームのcomsaとstellar lumens'>
    <div class='margin_bottom_50px'></div>
    <p>
        投資家はICOプラットフォームを利用することでこれまでより安心安全にICOに参加することが可能になるでしょう。
        これはICOプラットフォームに案件として上げる前に、協議プロセスを発生させることができるからです。
        プラットフォーム運営チームにより協議し、詐欺ではない、調達目標額は適正か判断したりすることができるはずです。
        また、ICOプラットフォームにより安心安全に投資ができるのであれば投資してみようかなと思う人も増えるかもしれません。
        結果投資家が増え、資金も調達しやすくなるかもしれないですね。
        また、ICOを行いたいけど、仮想通貨交換業者登録が必要な国(ex. 日本)のためできないパターンもあるかもしれません。
        ICOプラットフォームを利用することで運営チームに請け負ってもらう形で解決なんてこともできますね。
        このICOプラットフォームに載るってことは有望だというブランドとしての価値も生まれてきたりもするでしょう。
    </p>
    <p>
        欠点としては、ICOプラットフォームを利用するのに運営チームが儲けられるよう高い手数料がかかるような仕組みになるのではないかという点です。
        これは協議によって安心安全であることが証明されたICOである証明料だと考えるとまぁ問題はないかなぁとも思います。
        嫌ならICOプラットフォームを使わない方法でICOをすればいいわけですから。
    </p>
    <div class='margin_bottom_100px'></div>

    <h1>DAICO</h1>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per_white' src='../images/neo_funding/DAICO.png' alt='DAICO'>
    <div class='margin_bottom_50px'></div>
    <p>
        DAICOは、DAO(自立分散組織)とICOをくっつけた造語です。
        現状、ICOは調達した資金を使用する権限が中央集権的に調達者にある状態です。
        簡単にいうと、調達者は自由に調達した資金を使える状態であるということです。
        DAICOは中央集権化していた資金使用権を投資家に分散化させる仕組み、使える金額を投資家側で管理できる仕組みということです。
        Ethereumの共同開発者であるVitalik Butelinが最近提唱した仕組みです。
    </p>
    <div class='margin_bottom_100px'></div>

    <p>資金を調達するまでの仕組みはこれまでのICOと変わりません。</p>
    <div class='margin_bottom_50px'></div>
    <img class='img_100per_white' src='../images/neo_funding/tap.png' alt='DAICOの仕組み'>
    <div class='margin_bottom_50px'></div>
    <p>
        調達者が引き出せる資金を決定するTapという仕組みを取り入れます。
        Tapは1秒ごとに調達者が引き出せる資金の額です。
        調達者は1ヶ月ごとにTapによって溜まった資金を引き出し、プロジェクト開発やプロモーションに使用できます。
    </p>

    <div class='margin_bottom_50px'></div>
    <img class='img_100per_white' src='../images/neo_funding/tap2.png' alt='DAICOの仕組み'>
    <div class='margin_bottom_50px'></div>
    <p>
        Tapには信任投票があります。
        投資家は信任投票でTapの金額を「引き上げる」、「閉じる(供給しない)」を選びます。
        「引き上げる」が多かった場合、Tapの金額を引き上げます。
        「閉じる(供給しない)」が多かった場合、残っている資金を投資家へ返済します。
        ちなみに、調達者はTapの金額を「引き下げる」ことはできます。
        この仕組みにより、プロジェクトの進捗具合によって、続けるか投資家が決めることができるようになります。
    </p>
    <p class='coment_font'>
        ※ 現状、Tapの「引き上げ」・「引き下げ」の額は決まっていません。
    </p>
    <div class='margin_bottom_50px'></div>
    
    <p>
        ポイント<br>
        投資家はTapの金額を増やすことで、プロジェクトを加速させることができる。
        また、Tapを止めて、プロジェクトを終わらせ、残った資金を回収することができる。
        調達者はTapの金額を減らすことで、上がりすぎたTapを元に戻すことができる。
    </p>
    <p class='comment_font'>
        ※ 調達者のTap引き下げは、悪意のある投資家の無理やりなTap引き上げに対して、もとに戻す役割がある。
    </p>
    <div class='margin_bottom_100px'></div>

    <p>
        ICOプラットフォームもDAICOもこれから先、色々話題に上がってくると思うので注目すべきポイントだと思います。
    </p>

    <div class='margin_bottom_100px'></div>

    <p>
        技術面を中心の仮想通貨、ブロックチェーンの仕組みをまとめていく予定です。</br>
        良ければ、twitterフォロー宜しくお願いします。</br>
    </p>

    <p>
        <a href="https://twitter.com/maronBlockchain?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @maronBlockchain</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <div class='margin_bottom_100px'></div>
</div>