/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Perfograma';
  src: url("../font/perfograma/Perfograma.otf");
}
/* line 16, ../sass/common.scss */
a {
  text-decoration: none;
}

/* line 20, ../sass/common.scss */
a:link {
  color: #e5a663;
}

/* line 24, ../sass/common.scss */
a:visited {
  color: #e5a663;
}

/* line 28, ../sass/common.scss */
.font_perfograma {
  font-family: Perfograma;
}

/* line 32, ../sass/common.scss */
.margin_60px {
  margin-top: 60px;
}

/* line 36, ../sass/common.scss */
.margin_bottom_25px {
  margin-bottom: 25px;
}

/* line 40, ../sass/common.scss */
.margin_bottom_50px {
  margin-bottom: 50px;
}

/* line 44, ../sass/common.scss */
.margin_bottom_100px {
  margin-bottom: 100px;
}

/* line 48, ../sass/common.scss */
.padding_40px {
  padding: 40px;
}

/* line 54, ../sass/common.scss */
header {
  background-color: #34262a;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid;
  border-bottom-color: #5f474e;
  z-index: 10;
}
@media (max-width: 768px) {
  /* line 54, ../sass/common.scss */
  header {
    position: fixed;
    top: 0px;
    height: 120px;
  }
}
/* line 68, ../sass/common.scss */
header .header-logo {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 25px;
  margin-left: 15px;
}
@media (max-width: 768px) {
  /* line 68, ../sass/common.scss */
  header .header-logo {
    width: 100px;
    margin-top: 45px;
    margin-right: 25px;
  }
}
/* line 80, ../sass/common.scss */
header .header-logo p {
  font-size: 20px;
  color: #e5a663;
}
@media (max-width: 1024px) and (min-width: 768px) {
  /* line 80, ../sass/common.scss */
  header .header-logo p {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  /* line 80, ../sass/common.scss */
  header .header-logo p {
    font-size: 10px;
  }
}
/* line 93, ../sass/common.scss */
header .header-logo p .maron_font {
  font-size: 40px;
}
@media (max-width: 768px) {
  /* line 93, ../sass/common.scss */
  header .header-logo p .maron_font {
    font-size: 20px;
  }
}
/* line 103, ../sass/common.scss */
header .header-menu {
  display: inline-block;
  box-sizing: border-box;
  float: right;
}
@media (max-width: 768px) {
  /* line 103, ../sass/common.scss */
  header .header-menu {
    width: calc(100% - 140px);
  }
}
/* line 112, ../sass/common.scss */
header .header-menu .menu_btn {
  display: inline-block;
  box-sizing: border-box;
  font-size: 15px;
  color: #e5a663;
  margin-top: 30px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  /* line 112, ../sass/common.scss */
  header .header-menu .menu_btn {
    width: 30%;
    height: 60%;
    font-size: 10px;
    padding-top: 30px;
    margin-top: 30px;
    margin-right: 0px;
    text-align: center;
    border: solid 1px #e5a663;
  }
}
/* line 131, ../sass/common.scss */
header .header-menu .menu_btn:hover {
  color: white;
}

/* line 140, ../sass/common.scss */
body {
  background-color: #34262a;
  width: 100%;
  z-index: 5;
}

/* line 146, ../sass/common.scss */
.contents {
  width: 90%;
  margin: auto;
  letter-spacing: -.4em;
}
@media (max-width: 768px) {
  /* line 146, ../sass/common.scss */
  .contents {
    margin-top: 120px;
  }
}
/* line 155, ../sass/common.scss */
.contents .message {
  color: white;
  font-size: 30px;
  letter-spacing: 0em;
}
@media (max-width: 768px) {
  /* line 155, ../sass/common.scss */
  .contents .message {
    font-size: 20px;
  }
}
/* line 165, ../sass/common.scss */
.contents .content_25per {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 25%;
  height: 300px;
  letter-spacing: 0em;
}
@media (max-width: 1024px) and (min-width: 768px) {
  /* line 165, ../sass/common.scss */
  .contents .content_25per {
    width: 50%;
  }
}
@media (max-width: 768px) {
  /* line 165, ../sass/common.scss */
  .contents .content_25per {
    width: 100%;
  }
}
/* line 183, ../sass/common.scss */
.contents .content_25per a .tile {
  display: inline-block;
  box-sizing: border-box;
  color: #5f474e;
  width: 90%;
  height: 270px;
  margin-top: 15px;
  margin-left: 5%;
  transition: 1.0s;
}
/* line 193, ../sass/common.scss */
.contents .content_25per a .tile:hover {
  opacity: 0.6;
}
/* line 197, ../sass/common.scss */
.contents .content_25per a .tile .image {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
}
/* line 204, ../sass/common.scss */
.contents .content_25per a .tile .image_tile0 {
  background-image: url("../images/btc_test.jpg");
}
/* line 208, ../sass/common.scss */
.contents .content_25per a .tile .image_tile1 {
  background-image: url("../images/tile/vibe.jpeg");
}
/* line 212, ../sass/common.scss */
.contents .content_25per a .tile .image_tile2 {
  background-image: url("../images/tron/top.jpg");
}
/* line 216, ../sass/common.scss */
.contents .content_25per a .tile .image_tile3 {
  background-image: url("../images/ethereum/ico.jpg");
}
/* line 220, ../sass/common.scss */
.contents .content_25per a .tile .image_tile4 {
  background-image: url("../images/tron/java-tron.png");
  background-color: white;
}
/* line 225, ../sass/common.scss */
.contents .content_25per a .tile .image_tile5 {
  background-image: url("../images/mana/top.png");
}
/* line 229, ../sass/common.scss */
.contents .content_25per a .tile .title {
  box-sizing: border-box;
  font-size: 15px;
  width: 100%;
  height: 50px;
  padding: 10px 10px 0px;
  background-color: #e5a663;
  overflow: hidden;
}
/* line 239, ../sass/common.scss */
.contents .content_25per a .tile .date {
  box-sizing: border-box;
  font-size: 12px;
  width: 100%;
  height: 20px;
  padding: 5px 10px 10px;
  background-color: #e5a663;
}

/* line 252, ../sass/common.scss */
.list_container {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  padding: 20px;
  margin: auto;
}
@media (max-width: 768px) {
  /* line 252, ../sass/common.scss */
  .list_container {
    width: 100%;
    margin-top: 120px;
  }
}
/* line 264, ../sass/common.scss */
.list_container .image {
  min-height: 400px;
  background-image: url("../images/list_bitcoin.png");
  background-size: 400px;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 1;
}
@media (max-width: 768px) {
  /* line 264, ../sass/common.scss */
  .list_container .image {
    min-height: 250px;
    background-size: 250px;
  }
}
/* line 279, ../sass/common.scss */
.list_container .title {
  position: absolute;
  top: 0px;
  font-size: 30px;
  color: #e5a663;
  margin-bottom: 25px;
  z-index: 5;
}
@media (max-width: 768px) {
  /* line 279, ../sass/common.scss */
  .list_container .title {
    top: 40px;
  }
}
/* line 292, ../sass/common.scss */
.list_container .message {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 55px;
  z-index: 5;
}
@media (max-width: 768px) {
  /* line 292, ../sass/common.scss */
  .list_container .message {
    top: 95px;
    font-size: 15px;
  }
}
/* line 305, ../sass/common.scss */
.list_container ul {
  position: absolute;
  top: 55px;
  z-index: 5;
}
@media (max-width: 768px) {
  /* line 305, ../sass/common.scss */
  .list_container ul {
    top: 95px;
  }
}
/* line 314, ../sass/common.scss */
.list_container ul li {
  margin-bottom: 10px;
}
/* line 317, ../sass/common.scss */
.list_container ul li a {
  color: white;
}

/* line 324, ../sass/common.scss */
.notfound_container {
  box-sizing: border-box;
  width: 90%;
  padding: 20px;
  margin: auto;
}
@media (max-width: 768px) {
  /* line 324, ../sass/common.scss */
  .notfound_container {
    width: 100%;
    margin-top: 120px;
  }
}
/* line 335, ../sass/common.scss */
.notfound_container h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  /* line 335, ../sass/common.scss */
  .notfound_container h3 {
    font-size: 15px;
  }
}
/* line 345, ../sass/common.scss */
.notfound_container .image {
  width: 100%;
  height: 300px;
  background-size: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/notfound_ghost.png");
  opacity: 0.3;
}

/* line 356, ../sass/common.scss */
.article_container {
  box-sizing: border-box;
  width: 90%;
  max-width: 800px;
  margin: auto;
}
@media (max-width: 768px) {
  /* line 356, ../sass/common.scss */
  .article_container {
    margin-top: 150px;
  }
}
/* line 366, ../sass/common.scss */
.article_container .article_wrapper {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background-color: #34262a;
  color: white;
}
/* line 373, ../sass/common.scss */
.article_container .article_wrapper h3 {
  font-size: 60px;
  color: #e5a663;
  font-weight: bold;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  /* line 373, ../sass/common.scss */
  .article_container .article_wrapper h3 {
    font-size: 40px;
  }
}
/* line 384, ../sass/common.scss */
.article_container .article_wrapper h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  /* line 384, ../sass/common.scss */
  .article_container .article_wrapper h2 {
    font-size: 30px;
  }
}
/* line 394, ../sass/common.scss */
.article_container .article_wrapper h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 394, ../sass/common.scss */
  .article_container .article_wrapper h1 {
    font-size: 20px;
  }
}
/* line 404, ../sass/common.scss */
.article_container .article_wrapper p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 404, ../sass/common.scss */
  .article_container .article_wrapper p {
    font-size: 15px;
  }
}
/* line 415, ../sass/common.scss */
.article_container .article_wrapper .img_100per {
  width: 100%;
}
/* line 419, ../sass/common.scss */
.article_container .article_wrapper .img_100per_white {
  width: 100%;
  background-color: white;
}
/* line 424, ../sass/common.scss */
.article_container .article_wrapper .img_60per {
  width: 60%;
  margin-left: 20%;
}
@media (max-width: 768px) {
  /* line 424, ../sass/common.scss */
  .article_container .article_wrapper .img_60per {
    width: 100%;
    margin-left: 0px;
  }
}
/* line 434, ../sass/common.scss */
.article_container .article_wrapper .img_60per_white {
  box-sizing: border-box;
  width: 60%;
  margin-left: 20%;
  padding: 40px;
  background-color: white;
}
@media (max-width: 768px) {
  /* line 434, ../sass/common.scss */
  .article_container .article_wrapper .img_60per_white {
    width: 100%;
    margin-left: 0px;
  }
}
/* line 447, ../sass/common.scss */
.article_container .article_wrapper .movieWraper {
  position: relative;
  width: calc(100% - 10px);
  margin: 0 auto;
}
/* line 452, ../sass/common.scss */
.article_container .article_wrapper .movieWraper .iframeWrap {
  height: 0;
  padding-bottom: 62.5%;
}
/* line 456, ../sass/common.scss */
.article_container .article_wrapper .movieWraper .iframeWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 464, ../sass/common.scss */
.article_container .article_wrapper .exchange {
  background-color: white;
  width: 30%;
}
@media (max-width: 768px) {
  /* line 464, ../sass/common.scss */
  .article_container .article_wrapper .exchange {
    width: 100%;
  }
}
