<div>
    <div class='margin_60px'></div>
    <div class='contents'>

        <% for(var i=0; i<tiles.length; i++){ %>
            <div class='content_25per'>
                <a href=<%= tiles[i].url %>>
                    <div class='tile'>
                        <div class= 'image <%= tiles[i].image_class %>'></div>
                        <p class='title'><%= tiles[i].title %></p>
                        <p class='date'><%= tiles[i].date %></p>
                    </div>
                </a>
            </div>
        <% } %>
        
    </div>
</div>