<div>
    <span class='margin_20px'></span>

    <div class='contents'>
        <div class='content_25per'>
            <a href='#'>
                <div class='tile'>
                    <div class='image'></div>
                    <p class='title'>2018てすとほげほげについて</p>
                    <p class='date'>2018.1.10</p>
                </div>
            </a>
        </div>

        <div class='content_25per'>
            <a href='#'>
                <div class='tile'>
                    <div class='image'></div>
                    <p class='title'>a</p>
                    <p class='date'>2018.1.10</p>
                </div>
            </a>
        </div>
        
        
    </div>
</div>