<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://aframe.io/releases/latest/aframe.min.js"></script>
    
<a-scene>
    <a-sky color="white"></a-sky>
    <a-cube class="hello_box">
        <a-animation attribute="rotation" from="0 0 0" to="0 180 0" repeat="indefinite" easing="linear"></a-animation>
    </a-cube>
</a-scene>

<script>
    $(document).ready(function(){
        $('header').css('display','none');
        window.scrollTo(0,0);

        if (window.innerHeight < window.innerWidth) {
            alert('スマホを横にしてから、右下のレンズボタンを押してください。そうしないと画面が崩れることがあります。');
        }
    });
</script>