<!-- OneSignal -->
<link rel="manifest" href="/json/manifest.json">
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
        appId: "0002f58a-080b-4709-97d4-9378f15dfc6e",
        subdomainName: 'PushAPI',
        notifyButton: {
            enable: true // Set to false to hide
        },

        // Your other init options here
        promptOptions: {
        siteName: 'MARON crypto currency blog',
        actionMessage: "最新の記事を通知してもいいですか？",
        exampleNotificationTitle: 'MARON crypto currency blog',
        exampleNotificationMessage: '最新の記事を通知',
        exampleNotificationCaption: 'いつでも通知は解除できます',
        acceptButtonText: "OK",
        cancelButtonText: "CANCEL"
        }
    }]);
</script>