@import 'compass';
@import 'compass/reset';

@font-face {
	font-family: 'Perfograma';
	src: url('../font/perfograma/Perfograma.otf');
}

$base-color: #34262a;
$sub-color: #5f474e;
$accent-color: #e5a663;

$widthTab: 1024px; //タブレット
$widthSp: 768px; // スマホ

a {
    text-decoration: none; 
}

.font_perfograma {
    font-family: Perfograma;
}

.margin_60px {
    margin-top: 60px;
}

// ヘッダー
// ----------------------------------------------
header { 
    background-color: $base-color;
	height: 70px;
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: $sub-color;
    z-index: 10;

    @media (max-width: $widthSp) {
        position: fixed;
        top: 0px;
        height: 120px;
    }

    .header-logo {
        display: inline-block;
        box-sizing: border-box;
        margin-top: 25px;
        margin-left: 15px;

        @media (max-width: $widthSp) {
            width: 100px;
            margin-top: 45px;
            margin-right: 25px;
        }

        p {
            font-size: 20px;
            // color:white;
            color: $accent-color;
    
            @media (max-width: $widthTab) and (min-width: $widthSp) {
                font-size: 15px;
            }
            
            @media (max-width: $widthSp) {
                font-size: 10px;
            }

            .maron_font {
                font-size: 40px;
        
                @media (max-width: $widthSp) {
                    font-size: 20px
                }
            }
        }
    }

    .header-menu {
        display: inline-block;
        box-sizing: border-box;
        float: right;

        @media (max-width: $widthSp) {
            width: calc(100% - 140px);
        }

        .menu_btn {
            display: inline-block;
            box-sizing: border-box;
            font-size: 15px;
            color: $accent-color;
            margin-top: 30px;
            margin-right: 15px;

            @media (max-width: $widthSp) {
                width:30%;
                height: 60%;
                font-size: 10px;
                padding-top: 30px;
                margin-top: 30px;
                margin-right: 0px;
                text-align: center;
                border: solid 1px $accent-color;
            }
        
            &:hover {
                color: white;
            }
        }
    }
}

// ----------------------------------------------

body {
    background-color: $base-color;
    width: 100%;
    z-index: 5;
}

.contents {
    width: 90%;
    margin: auto;
    letter-spacing: -.4em;

    @media (max-width: $widthSp) {
        margin-top: 120px;
    }

    .content_25per {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        width: 25%;
        height: 300px;
        letter-spacing: 0em;

        @media (max-width: $widthTab) and (min-width: $widthSp) {
            width: 50%;
        }

        @media (max-width: $widthSp) {
            width: 100%;
        }

        a {

            .tile {
                display: inline-block;
                box-sizing: border-box;
                color: $sub-color;
                width: 90%;
                height: 270px;
                margin-top: 15px;
                margin-left: 5%;
                transition: 1.0s;

                &:hover {
                    opacity: 0.6;
                }

                .image {
                    width:100%; 
                    height: 200px;
                    background-position: center center;
                    background-size: cover;
                }

                .image_tile1 {
                    background-image: url('../images/btc_test.jpeg');
                } 

                .image_tile2 {
                    background-image: url('../images/btc_test2.jpg');
                }

                .title {
                    box-sizing: border-box;
                    font-size: 15px;
                    width:100%; 
                    height: 50px;
                    padding: 10px 10px 0px;
                    background-color: $accent-color;
                    overflow: hidden;
                }

                .date {
                    box-sizing: border-box;
                    font-size: 12px;
                    width:100%; 
                    height: 20px;
                    padding: 5px 10px 10px;
                    background-color: $accent-color;
                }
            }
        }
    }
}

.article_container {
    box-sizing: border-box;
    width: 90%;
    margin: auto;

    @media (max-width: $widthSp) {
        width: 100%;
        margin-top: 120px;
    }

    .title {
        font-size: 20px;
        color: $sub-color;
        margin-bottom: 30px;
    }

    .article_inner {
        box-sizing: border-box;
        width: 100%;
        background-color: white;
        padding: 20px;
    }
}

.list_container {
    box-sizing: border-box;
    width: 90%;
    padding: 20px;
    margin: auto;
    
    @media (max-width: $widthSp) {
        width: 100%;
        margin-top: 120px;
    }

    .title {
        font-size: 30px;
        color: $accent-color;
        margin-bottom: 25px;
    }

    ul li {
        margin-bottom: 10px;
    
        a {
            color: white; 
        }
    }
}

.notfound_container {
    box-sizing: border-box;
    width: 90%;
    padding: 20px;
    margin: auto;

    @media (max-width: $widthSp) {
        width: 100%;
        margin-top: 120px;
    }

    h3 {
        font-size: 30px;
        color: white;
        margin-bottom: 50px;

        @media (max-width: $widthSp) {
            font-size: 20px;
        }
    }

    .image {
        width:100%; 
        height: 300px;
        background-size: 300px;
        background-position: center center;
        background-repeat : no-repeat;
        background-image: url('../images/notfound_ghost.png');
        opacity: 0.3;
    }
}